# example.pcf

set_io clk	52		# 12 mhz clock in
set_io rst_n 142

set_io led0 118
set_io led1 116
set_io led2 115
set_io led3 114
set_io led4 113
set_io led5 112
set_io led6 110
set_io led7 107

set_io spi_miso 67	
set_io spi_mosi 68	
set_io spi_sck 70	
set_io spi_ss 55	

set_io quad_a0	12
set_io quad_b0	15

set_io quad_a1	22
set_io quad_b1 	23
set_io quad_a2	24
set_io quad_b2	25
set_io quad_a3	26
set_io quad_b3	28
set_io quad_a4 	29
set_io quad_b4 	31
