set_io clk	52		# 25 mhz clock in (onboard oscillator)
set_io rst_n 142

set_io led0 118         # D3
set_io led1 116         # D4
set_io led2 115         # D5
set_io led3 114         # D6
set_io led4 113         # D7
set_io led5 112         # D8
set_io led6 110         # D9
set_io led7 107         # D10

# The SPI port uses the same pins as the programming interface
set_io spi_miso 67
set_io spi_mosi 68
set_io spi_sck 70
set_io spi_ss 55

set_io pwm0 	56
set_io pwm1 	61
set_io pwm2 	63
set_io pwm3 	73
set_io pwm4 	75
set_io pwm5 	78
set_io pwm6 	80
set_io pwm7 	82
set_io pwm8 	84
set_io pwm9 	87
