set_io clk	52		# clock input (from oscillator)

set_io rst_n 142	# S1

set_io led[0] 118		# D3
set_io led[1] 116		# D4
set_io led[2] 115		# D5
set_io led[3] 114		# D6
set_io led[4] 113		# D7
set_io led[5] 112		# D8
set_io led[6] 110		# D9
set_io led[7] 107		# D10
